@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }

@font-face {
  font-family: RobotoCondensed-Bold;
  src: url("RobotoCondensed-Bold.ttf");
}

.App {
  text-align: center;
  background: url("img/background.png") fixed;
  background-size: 120% 100%;
  background-color: #ffc0bc;
  -webkit-animation: fade-in 1s linear; /* Safari 4+ */
  -moz-animation: fade-in 1s linear; /* Fx 5+ */
  -o-animation: fade-in 1s linear; /* Opera 12+ */
  animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
}

.App-header {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7em;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainIcons {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 6em;
}

.departureIcon {
  width: 15vmin;
  height: auto;
  cursor: pointer;
  margin-right: 22vmin;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.departureIcon:hover {
  -webkit-animation: fade-in 1s linear; /* Safari 4+ */
  -moz-animation: fade-in 1s linear; /* Fx 5+ */
  -o-animation: fade-in 1s linear; /* Opera 12+ */
  animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition-duration: 0.4s;
}

.timeIcon {
  width: 15vmin;
  cursor: pointer;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.timeIcon:hover {
  -webkit-animation: fade-in 1s linear; /* Safari 4+ */
  -moz-animation: fade-in 1s linear; /* Fx 5+ */
  -o-animation: fade-in 1s linear; /* Opera 12+ */
  animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition-duration: 0.4s;
}

.arrivalIcon {
  width: 15vmin;
  cursor: pointer;
  margin-left: 22vmin;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.arrivalIcon:hover {
  -webkit-animation: fade-in 1s linear; /* Safari 4+ */
  -moz-animation: fade-in 1s linear; /* Fx 5+ */
  -o-animation: fade-in 1s linear; /* Opera 12+ */
  animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition-duration: 0.4s;
}

.textsIco {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  text-align: center;
  font-size: calc(8px + 1vmin);
  color: white;
}

.textDepart {
  margin-right: 24vmin;
  color: white;
  text-shadow: 0 0.1em 0em #426ebb;
  color: #e0f3ff;
}

.textTime {
  color: white;
  text-shadow: 0 0.1em 0em #426ebb;
  color: #e0f3ff;
}

.textArrive {
  margin-left: 24vmin;
  color: white;
  text-shadow: 0 0.1em 0em #426ebb;
  color: #e0f3ff;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

.searchForm {
  outline:none;
  align-items: center;
  width: 20%;
  height: 10%;
  border: none;
  border-radius: 1em;
  font-size: calc(4px + 1vmin);
  padding: 1em 7em 1em 1em;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.searchForm:focus {
  width: 30%;
}

.searchButton {
  height: 7vmin;
  cursor: pointer;
  margin-left: 2em;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.searchButton:hover {
  -webkit-animation: fade-in 1s linear; /* Safari 4+ */
  -moz-animation: fade-in 1s linear; /* Fx 5+ */
  -o-animation: fade-in 1s linear; /* Opera 12+ */
  animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition-duration: 0.4s;
}

.showTheTable {
  margin-top: 2em;
}

.showButton {
    -webkit-animation: fade-in 1s linear; /* Safari 4+ */
    -moz-animation: fade-in 1s linear; /* Fx 5+ */
    -o-animation: fade-in 1s linear; /* Opera 12+ */
    animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition-duration: 0.4s;
    outline:none;
    cursor: pointer;
    width: 20%;
    background-color: #68009c;
    border: none;
    border-radius: 1em;
    margin-top: 3em;
    font-size: calc(6px + 1vmin);
    color: white;
    padding: 1em 1em 1em 1em;
}

.footer {
  background: rgba(255, 192, 188, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-top: 20em;
  min-height: 100%;
}

#planeTable {
   display: none;
}
